@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:wght@600&family=Playfair+Display:ital,wght@0,500;1,500&family=Roboto:wght@500&display=swap');

html {
    scroll-behavior: smooth;
  }
  

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}



::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: rgb(240, 219, 79);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb
{
	background-color: rgb(50, 51, 48);
	border: 2px solid #555555;
    border-radius: 15px;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}









nav {
    height: 80px;
    background: rgb(240, 219, 79);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);
  }
  




nav a{
    text-decoration: none;
    color: rgb(50, 51, 48);
    padding: 0 1.5rem;
    transition: color 0.3s, border-bottom 0.3s;



    position: relative;

}

nav a:hover{
    color: rgb(50, 51, 48);
    
   

}


nav a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(50, 51, 48);
    transition: width 0.3s ease;
}


nav a:hover::before{
    width: 100%;
}





.signlogo{
    color:rgb(50, 51, 48);
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;

   
}


  .logo:hover
{
    animation: flipV 1s linear;
}


@keyframes flipV {
    50%{
        transform: rotateX(180deg);
    }
    to {
        transform: rotateX(360deg);
    }
    
}



.logo{
    padding-left: 10px;
    cursor: pointer;
    
}



.logo-container {
    padding-left: 10px;
    display: flex; 
    align-items: center;

}


.heropage{
   background-color:  rgb(240, 219, 79);

}

.hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 95vh;
    padding: 3rem calc((100vw - 1300px) / 2);
    z-index: 10;
}


.left-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0rem 2rem;
    color: rgb(50, 51, 48);
}


.left-hero h1{
    padding-bottom: 1rem;
    font-size: 3rem;

}

.left-hero p{
    padding-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: rgb(50, 51, 48);
}

.right-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;

}

.right-hero img{
    transition: transform .2s;
    
    /* margin:0 auto; */
    
   
}

.right-hero img:hover{
    transform: scale(1.5);
}


.heroart{
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 768px) {
    .hero-container {
      grid-template-columns: 1fr;
    }
  }













/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}



.about{
    background-color: rgb(240, 219, 79);
}

.about-container{
    background-color: rgb(240, 219, 79);
}


.aboutus{
    text-align: center;
    line-height: 0.8;
    /* padding-bottom: 5%;
    padding-top: 10%; */
    background-color: rgb(240, 219, 79);
    
}


.aboutus h1{
    line-height: 2;
    margin: 0 auto;

}

.aboutus p{
    line-height: 2;
    margin: 0 auto;

}






.box p {
    color: rgb(50, 51, 48);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px rgba(100,100,150,1);
    padding: 30px;
    margin: 20px;  
    border: 2px solid #000;
    background-color: rgb(255, 255, 255);


    transition: transform .2s;
    cursor: pointer;
    
}

img {
    float: right;
}

@media (max-width: 450px) {
    .box {
        height: 300px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
   
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
        row-gap: 150px;
        
        
        
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
        
     
    }
    .header p {
        width: 20%;
    }
    
}





.box:hover{
    transform: scale(1.2);
}
